/*************/
/* CSS Reset */
/*************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, #title, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/***********************************************/
/* HTML5 display-role reset for older browsers */
/***********************************************/

article, aside, details, figcaption, figure, footer, #title, hgroup, menu, nav, section {
    display: block;
}

html {
    font-size: 62.5%;
    font-family: Roboto;
}

body {
    line-height: 1;
    font-size: 1.6rem; /* = 16px */
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

/*****************/
/* HTML Headings */
/*****************/

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}

h1 {
    font-size: 5.0rem; /* = 50px */
}

h2 {
    font-size: 4.0rem; /* = 30px */
}

h3 {
    font-size: 5.0rem; /* = 24px */
}

h4{
    font-size: 1.8rem; /* = 18px */
}

h5, h6 {
    font-size: 1.4rem; /* = 14px */
}

/************/
/* Elements */
/************/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    margin: 0 4rem;
}

h1, h2, h3, h4, h5, h6, section {
    text-align: center;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
}

#next {
    align-content: center;
}

.bloc {
    display: flex;
    align-items: center;
    margin: 3rem 0;
}

hr {
    width: 70%;
    height: 0.2rem;
    border: none;
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
}

h4 {
    font-size: larger;
    margin: 0;
}

a {
    text-decoration: none;
}

h3 {
    padding: 3rem 0;
}

ul > li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.desc {
    margin: 1rem; 
}


/**********/
/* Colors */
/**********/

#title, button, .footer > a, footer, #title > a {
    color: #fdcb46;
    background-color: #579c87;
}

#premier, #menu_1 {
    background-color: #fcdfdb;
}

#deuxieme, #menu_2 {
    background-color: #fff5fe;
}

#troisieme, #menu_3 {
    background-color: #f9f9f9;
}

#quatrieme, #menu_4 {
    background-color: #fdfffd;
}

#legal {
    color: white;
    background-color: #579c87;
}

#premier, #deuxieme, #troisieme, #quatrieme, #menu_1, #menu_2, #menu_3, #menu_4, #legal {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#sec_1 {
    color: #c67412;
}

#sec_1 > .bloc > hr {
    border-top: 0.2rem solid  #c67412;
    border-bottom: 0.2rem solid  #c67412;
}

#sec_2 {
    color: #a56799;
}

#sec_2 > .bloc > hr {
    border-top: 0.2rem solid  #a56799;
    border-bottom: 0.2rem solid  #a56799;
}

#sec_3 {
    color: #6e4ccc;
}

#sec_3 > .bloc > hr {
    border-top: 0.2rem solid  #6e4ccc;
    border-bottom: 0.2rem solid  #6e4ccc;
}

section.le_chic > h2, h3.le_chic {
    background: -webkit-linear-gradient(left, #c67412, #a56799, #6e4ccc);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.le_delice > h2, h3.le_delice {
    background: -webkit-linear-gradient(left, #0228dd, #0670f3, #229df9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

section.la_palette > h2, h3.la_palette {
    background: -webkit-linear-gradient(top left, #41963c, #beff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;        
}

.fa-music {
    background-image: linear-gradient(to right, #f05861, #f6916a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

hr.first_blue_hr {
    width: 70%;
    height: 0.2rem;
    border: none;
    border-top: 0.6rem double #0228dd;
}

hr.second_blue_hr {
    width: 70%;
    height: 0.2rem;
    border: none;
    border-top: 0.6rem double #0670f3;
}

hr.third_blue_hr {
    width: 70%;
    height: 0.2rem;
    border: none;
    border-top: 0.6rem double #229df9;
}

hr.green_hr_left {
    width: 70%;
    height: 0.5rem;
    border: none;
    background: -webkit-linear-gradient(left, #41963c, #beff7f);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.green_hr_right {
    width: 70%;
    height: 0.5rem;
    border: none;
    background: -webkit-linear-gradient(right, #41963c, #beff7f);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

/*********/
/* Fonts */
/*********/

.desc, .price, h1, #container > h2, h4, h5, button, footer, #legal {
    font-family: 'Kalam', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.la_note {
    font-family: 'Cookie', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.le_chic {
    font-family: 'Amita', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.le_delice {
    font-family: 'Alex Brush', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.la_palette {
    font-family: 'Kaushan Script', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*******************************************************************/
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
/*******************************************************************/

#title {
    height: 5em;
}

main {
    flex-direction: column;
    padding: 1rem;
    margin: 1.5rem auto 8rem auto;
}

#premier, #deuxieme, #troisieme, #quatrieme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30rem;  
    margin-bottom: 2rem;
}

#next {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

button {
    font-size: 2rem;
    padding: 1rem 5rem;
    border-radius: 2rem;
}

h2 {
    padding: 2rem;
}

h5 {
    padding: 2rem;
}

#menu_1, #menu_2, #menu_3, #menu_4, #legal {
    margin: 0 2rem 8rem 2rem;
    padding: 2rem;
}

.price {
    font-weight: bold;
}

#legal {
    text-align: justify;
}

#legal > h2, #legal > h3 {
    font-size: 4rem;
    font-weight: bolder;
}

#legal > p > a, #legal > p > a:visited {
    font-size: 3rem;
    color: white;
}

footer {
    height: 6rem;
}

/********************************************************/
/* tablet, landscape iPad, lo-res laptops ands desktops */ 
/********************************************************/

@media (min-width:768px) { 

    #premier, #deuxieme, #troisieme, #quatrieme {
        height: 36rem;
    }

    .left {
        width: 36%
    }

    .right {
        width: 36%;
    }

    ul > li {
        flex-direction: row;
    }

    .desc > p {
        
        text-align: left;
        font-size: 3rem;
    }

    .price {
        margin-right: 1rem;
        text-align: right;
    }

    .menu_row {
        display: flex;
        justify-content: space-evenly;
    }

}

/************************************************/
/* big landscape tablets, laptops, and desktops */ 
/************************************************/

@media (min-width:1199px) {

    #title {
        height: 24rem;
        font-weight: bolder;
    }

    #premier, #deuxieme, #troisieme, #quatrieme {
        height: 76rem;
        max-width: 54rem;
        margin-bottom: 9rem;
    }

    main {
        margin: 0;
        padding: 10rem 16rem;
    }

    .menu_row {
        padding: 0;
        margin: 0;
    }

    .left {
        width: 50%; 
        margin-right: 10rem;
    }

    .right {
        width: 50%;
    }

    button {
        font-size: 5rem;
        width: 65.4rem;
        height: 12rem;
        margin-bottom: 8.4rem;
    }

    #container {
        margin: 0 auto;
    }

    #menu_1, #menu_2, #menu_3, #menu_4, #legal {
        margin: 0 16rem 27.2rem 16rem;
        padding: 12.5rem;
    }

    footer {
        height: 13.6rem;
    }

    h1 {
        font-size: 6.8rem;
    }

    h2 {
        padding: 6rem;
        font-size: 5.2rem;
    }

    h3 {
        font-size: 6.0rem;
    }

    h4 {
        width: 100%;
        font-size: 3.2rem;
    }

    h5 {
        padding: 5rem;
        font-size: 5rem;
    }

    h6 {
        font-size: 1.4rem;
    }

    p {
        font-size: 2.1rem;
    }

    a {
        font-size: 3.0rem;
    }
}

